@model TaskDetailsViewModel

@{
    ViewData["Title"] = "TaskDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Task Details</h1>

<div>
    <h4>Task: @Model.ToDoTask.TaskName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoTask.TaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDoTask.TaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoTask.TaskDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDoTask.TaskDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => (model.ToDoTask.TaskActive))
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDoTask.TaskActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ToDoTask.TaskID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
