@model toDoClassLibrary.ToDoList

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div>
    <h4>ToDoList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoListName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDoListName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedToDoListDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedToDoListDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalizationDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalizationDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIDCreator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIDCreator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIDExecutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIDExecutor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ToDoListID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
