@model toDoList.ViewModels.EmpresasViewModel

@{
    ViewData["Title"] = "Details";
    var empresaId = Model.EmpresaID;
}
<script src="~/js/customscript.js"></script>
<style>
 
    .aLink {
        color: rgb(82,123,255) !important;
    }

        .aLink:hover {
            color: rgb(82,123,255) !important;
            text-decoration: underline !important;
            cursor: pointer !important;
        }
</style>
<div class="card">
    <div class="card-header">
        <h1>Detalhes da empresa: <strong>@ViewBag.NomeEmpresa</strong></h1>
        <hr />
        <a class="aLink" onclick="VoltarParaListaEmpresas()">Voltar a lista das empresas</a> |

        @if (Model.isCabContabilidade == true)
        {
            <a asp-action="Index" asp-controller="AGes">Importar Empresas de BD AGES</a>
        }
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NIF)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.NIF)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Licenca)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Licenca)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NrPostos)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.NrPostos)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NrEmpresas)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.NrEmpresas)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.DataExpiracao)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.DataExpiracao)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.DataCriacao)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.DataCriacao)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Ativo)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Ativo)
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <a class="aLink" onclick="VoltarParaListaEmpresas()">Voltar a lista das empresas </a>|
        @if (Model.isCabContabilidade == false)
        {
        <a class="aLink" onclick="CriarConexaoEmpresa(@Model.EmpresaID)">Configurar conexão de banco de dados</a><span> |</span>   
        }

        <a class="aLink" onclick="EditEmpresa(@Model.EmpresaID)">Editar</a>
    </div>
</div>
<script>
    function EditEmpresa(id) {
        var b = RenderWithNoRefresh("/Empresa/Edit/" + id);
    }
    function CriarConexaoEmpresa(id)
    {
        var b = RenderWithNoRefresh("/ConConfig/CreateConConfig/" + id);
    }
</script>
