@model IEnumerable<toDoList.ViewModels.EmpresasViewModel>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
 
}


<style>
    td a {
        color: blue !important;
    }
    td a:hover {
        color: blue !important;
        text-decoration: underline !important;
        cursor:pointer !important;
    }
   div p a {
        color: blue !important;
    }

    div p a:hover {
        color: blue !important;
        text-decoration: underline !important;
        cursor: pointer !important;
    }
 
</style>
<div class="card">
    <div class="card-header">
        <h1 class="card-header">Registos existentes</h1>
        <hr />
    </div>
    <div class="card-body">
        <p>
            @*<a id="CriarNovaEmpresa" asp-action="Create" asp-controller="Empresa">Criar uma nova empresa</a>*@
            <a id="CriarNovaEmpresa" onclick="CriarNovaEmpresa()">Criar uma nova empresa</a>
        </p>

        @if (Model != null)
        {
            <table class="table" style="width:100%;">
                <thead>
                    <tr>
                        <th hidden>
                            @Html.DisplayNameFor(model => model.EmpresaID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NIF)
                        </th>
                        <th hidden>
                            @Html.DisplayNameFor(model => model.Licenca)
                        </th>
                        <th hidden>
                            @Html.DisplayNameFor(model => model.NrPostos)
                        </th>
                        <th hidden>
                            @Html.DisplayNameFor(model => model.NrEmpresas)
                        </th>
                        <th hidden>
                            @Html.DisplayNameFor(model => model.DataExpiracao)
                        </th>
                        <th hidden>
                            @Html.DisplayNameFor(model => model.DataCriacao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ativo)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.EmpresaID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NIF)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.Licenca)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.NrPostos)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.NrEmpresas)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.DataExpiracao)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.DataCriacao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ativo)
                            </td>

                            @if (item.isCabContabilidade == true)
                            {
                        <td>
                            @*<a asp-action="Details" asp-route-id="@item.EmpresaID">Detalhes</a>*@
                            <a id="@("itmDetail_" + @item.EmpresaID)" onclick="DetailsEmpresa(@item.EmpresaID)">Detalhes</a>
                        </td>
                            }
                            else
                            {
                        <td>
                            @*<a asp-action="ManageEmpresaUtilizadores" asp-controller="Empresa" asp-route-id="@item.EmpresaID"> Add Utilizadores</a> |*@
                            @*<a asp-action="Edit" asp-route-id="@item.EmpresaID">Editar</a>*@
                            <a id="@("itmManageEmpresaUtilizadores_"+ @item.EmpresaID)" onclick="ManageUsersEmpresa(@item.EmpresaID)">Add Utilizadores</a> |
                            <a id="@("itmEdit_" + @item.EmpresaID)" onclick="EditEmpresa(@item.EmpresaID)">Editar</a> |
                            <a id="@("itmDetail_" + @item.EmpresaID)" onclick="DetailsEmpresa(@item.EmpresaID)">Detalhes</a> |
                            <a id="@("itmDetail_" + @item.EmpresaID)" onclick="ApagarEmpresa(@item.EmpresaID)">Apagar</a>
                            @*<a asp-action="Details" asp-route-id="@item.EmpresaID">Detalhes</a> |*@
                            @*<a asp-action="Delete" asp-route-id="@item.EmpresaID">Apagar</a>*@
                        </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="card">
                <div class="card-header">
                    Não há empresas ainda configuradas
                </div>
                <div class="card-body">
                    <h5 class="card-title">Use o botão abaixo para criar uma nova empresa</h5>
                    <a class="btn btn-primary" style="width:200px !important;" asp-controller="Empresa" asp-action="Create">
                        Criar nova empresa
                    </a>
                </div>
            </div>
        }
    </div>
</div>

<script>
    var b;
    function CriarNovaEmpresa() {
        b = RenderWithNoRefresh("/Empresa/Create")
    }
    function ManageUsersEmpresa(id) {
        b = RenderWithNoRefresh("/Empresa/ManageEmpresaUtilizadores/" + id)
    }
    function EditEmpresa(id)
    {
         b = RenderWithNoRefresh("/Empresa/Edit/" + id)
    }
    function DetailsEmpresa(id) {
       // alert("Detalho empresa" + id);
        b = RenderWithNoRefresh("/Empresa/Details/" + id)
    }
    function ApagarEmpresa(id) {
        b = RenderWithNoRefresh("/Empresa/Delete/" + id)
    }
</script>