@model List<EmpresaUtilizadoresViewModel>

@{
    var empresaId = ViewBag.EmpresaId;
    var empresaNome = ViewBag.EmpresaNome;
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Gerenciar usuários da empresa : <strong>@empresaNome</strong></h2>
            <hr />
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].UserID" />
                    <input type="hidden" asp-for="@Model[i].UserName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].UserName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" asp-action="ManageEmpresaUtilizadores" asp-controller="Empresa"  asp-route-EmpresaId="@empresaId" value="Update" class="btn btn-primary" style="width:auto" />
            <a asp-action="index" asp-controller="Empresa" class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>