@model IEnumerable<ToDoList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div>
    <h4>ToDoList</h4>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    <label>List Name</label>
                </th>
                <th>
                    <label>Created Date</label>
                </th>
                <th>
                    <label>Finalization Date</label>
                </th>
                <th>
                    <label>Assigned to</label>
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToDoListName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedToDoListDatetime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinalizationDatetime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserIDExecutor)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="ToDoList" asp-route-id="@item.ToDoListID">Edit</a> |
                        <a asp-action="Details" asp-controller="ToDoList" asp-route-id="@item.ToDoListID">Details</a> |
                        <a asp-action="Delete" asp-controller="ToDoList" asp-route-id="@item.ToDoListID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
      </table>
       
</div>
